[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "distionary"]
	path = distionary
	url = https://github.com/probaverse/distionary
[submodule "distplyr"]
	path = distplyr
	url = https://github.com/probaverse/distplyr
[submodule "famish"]
	path = famish
	url = https://github.com/probaverse/famish
[submodule "probaverse"]
	path = probaverse
	url = https://github.com/probaverse/probaverse
